
nav ul {
    display: flex;
    justify-content: center;

}
nav ul,li{
    list-style-type: none;
    padding: 10px 20px;
}
nav ul li,a{
    text-decoration: none;
    color: #000;
}
body{
    background-color: beige;
}
.divpara{
    background-color: bisque;
    font-weight: bold;
}
h1{
    color: black;
    text-align: center;
    font-size: bold;
    
}
.champ2{
    display: flex;
    
}
.para1{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.champ2{
    display: flex;
}
.para2{
    color: green;
}
.para3{
    color: blue;
}
.para4{
    color: aquamarine;
}